 node_modules\
 .DS_Store
target\
!target\site\
allure-report\
report\

.DS_Store
test/at/report/
node_modules/
allure-report/
.settings
report/
target/
.project
.classpath
errorShots/
test/cucumber/node_modules/
test/cucumber/test/reports/
test/cucumber/allure-report/
